@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Poppins font */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #F5F7FC;
}

/* Reset inputs, textarea, buttons */
input, textarea, button {
  padding: 0.75rem;
  background-color: #f9fafb;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
}

/* Reset headings */
h1, h2, h3 {
  font-weight: 700;
  color: #000000;
}

/* Smooth transitions */
button {
  transition-property: all;
  transition-duration: 300ms;
}
